doctype html
html
  head
    title Join the #{community} community on Slack!
    link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(rel="stylesheet", href="/styles.css")
  body
    header
      nav.top
        a(href="https://slack.com/").logo
      h1
        | Join the #{community} <br/>
        | community on Slack!
    form(method="POST", action="/invite")#join-form
      input(type="text", name="email", placeholder="Enter your email", required="required")#slack-email
      button(type="submit").btn Continue >

    footer
      small Made with ♥ by a bunch of nerds on github

    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
      });
