doctype html
html
  head
    title Join the #{community} community on Slack!
    link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(rel="stylesheet", href="/styles.css")
  body
    header
      nav.top
        a(href="https://slack.com/").logo
      h1 Success! Check #{email} for an invite from Slack. <br /><br />

    footer
      small Made with ♥ by a bunch of nerds on github

    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
      });
